@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:focus {
    color: rgb(179, 255, 0);
    text-decoration: mone;
    outline: 0;
}

.btn {
    padding: 8px 22px;
    background: #3492fd;
    color: white;
    border-radius: 5rem;
}

.btn:hover {
    background: #3180db;
}

.upward {
    position: fixed;
    bottom: 10px;
    right: 6px;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
    border-color: transparent;
    border-radius: 50%;
    background-color: #00000085;
}
.upward.active {
    visibility: visible;
    opacity: 1;
}

.upward::before,
.upward::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upward::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #ffffff;
}

.upward::after {
    width: 19px;
    height: 19px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
}



/** Header start **/

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(110, 27, 27);
}

.navbar-brand {
    color: #ffffff;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-block: 15px;
}

.navbar-dark .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar {
    height: 70px;
    padding-top: 0;
    border-radius: 100px;
    margin: 10px 30px 0 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.navbar.hide {
    transform: translateY(-300px);
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}



.navbar-nav .dropdown-menu {
    left: -120px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 40px;
    background-color: #3f2f2f69;
}

.carousel-caption p {
    background-color:  #3f2f2f69;
}

/** Header end **/



/** Section museum start **/

.museum {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap: 2rem;
}

.museum-img img{
    border-radius: 5rem 5rem 5rem 4rem;
    height: 379px;
    width: 479px;
    margin: 50px 0 32px 0;
}

.museum-text {
    margin: 50px 0 50px 0;
}

.museum-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(158, 166, 240);
}

.museum-text h2 {
    font-size: 1.7rem;
    color: #000;
}

.museum-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
    color: #80878f;
}

/** Section museum end **/


/** Section memorial start **/

.header-poster {
    width: 100%;
    height: 400px;
    background-image: url(/img/poster.png);
    background-size: cover;
    position: relative;
}

.parallax-poster {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/poster.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title { 
    font-size: 44px;
    letter-spacing: 0.17em;
    text-align: center;
}



.block-left-right {
    display: flex;
    width: 100%;
    height: 500px;
    background: #28349E;
}

.block-left-right .left-bona {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/Bona.jpg);
}

.parallax-bona {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/Bona.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .right-one {
    display: flex;
    width: 50%;
    background: #28349E;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.block-left-right .left-garden {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/garden.jpg);
}

.parallax-garden {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/garden.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .right-two {
    display: flex;
    width: 50%;
    background: #28328f;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.rigt-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.right-text {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

/** Section memorial end **/


/** Section sport start **/

.header-stadion {
    width: 100%;
    height: 400px;
    background-image: url(/img/stadion.jpg);
    background-size: cover;
    position: relative;
}

.parallax-stadion {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/stadion.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.block-left-right .left-track {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/track.jpg);
}

.parallax-track {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/track.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .left-ladders {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/ladders.jpg);
}

.parallax-ladders {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/ladders.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Section sport and **/


/** Section extreme start **/

.header-burning {
    width: 100%;
    height: 400px;
    background-image: url(/img/burning.png);
    background-size: cover;
    position: relative;
}

.parallax-burning {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/burning.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f4f5f500;
    background-clip: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0.25rem;
}

.card-img-top {
    height: 200px;
}

.card h5 {
    color: #ffffff;
}

.card p {
    color: #ffffff;
}

.card-extremeone {
    padding: 50px 12px 50px 20px;
}

.card-extremetwo {
    padding: 520px 12px 50px 20px;
}

.card-body {
    background-color: #00000069;
}


.parallax-mountains {
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        url(/img/pngwing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/** Section start **/ 

.item-left-right {
    display: flex;
    width: 100%;
    height: 700px;
}

.item-left-right .left {
    display: flex;
    width: 50%;
    background: #ff4500de;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.item-photo {
    height: 274px;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
    display: table-footer-group;
    padding-top: 30px;
    padding-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 16%, 100% 86%, 50% 100%, 50% 100%, 0 86%, 0 16%);
}

.item-title {
    text-align: center;
}

.item-text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
} 

.item-left-right .right {
    display: flex;
    width: 50%;
    background: #80878f;
    padding: 50px;
    justify-content: center;
    align-items: center;
}


/** Section and **/


/** Section comfort start **/ 

.complex {
    display: flex;
    flex-wrap: wrap;
}

.complex_item {
    width: 25%;
    background-color: #5C62ED;
    position: relative;
    overflow: hidden;
}

.complex_content {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.complex_text {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 76px;
    margin-top: 20px;
}

.complex_title {
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
}

.complex_item-photo {
    width: 75%;
    position: relative;
    overflow: hidden;
}

.complex_photo {
    height: 500px;
    width: 100%;
}

.complex_blog {
    width: 25%;
    height: 300px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.complex_content-blog {
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.complex_blog-title {
    font-weight: 700;
    font-size: 24px;
    color: #5C62ED;
    padding-left: 15px;
    margin-top: 74px;
}

.complex_blog-blog {
    width: 75%;
    height: 300px;
    background-color: rgb(222 40 0);
    position: relative;
    overflow: hidden;
}

.complex_blog-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 74px;
}

.blog-text {
    margin-left: auto;
    margin-right: auto;
    width: 18em
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 25%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.works_item:hover .works_content {
    opacity: 1;
}

.works_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(232, 69, 69, 0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .3s linear;
}

.works_title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

/** Section comfort end **/ 

/** foter start **/

.wrapper {
    display: inline-flex;  
}
.wrapper .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center
    flex-direction column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.wrapper .icon span {
    position: relative;
    height: 45px;
    width: 45px;
    display: block;
    background: #ffff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon span i {
    font-size: 25px;
    line-height: 35px;
}
.wrapper .icon .toolti {
    position: absolute;
    margin: 0 -24px;
    top: 0px;
    background: #ffffff;
    font-size: 15px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .toolti {
    top: -40px;
    opacity: 1;
    pointer-events: auto;
}
.wrapper .icon .toolti:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #ffffff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .toolti{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .toolti,
.wrapper .facebook:hover .toolti:before {
    background: #28328f;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .toolti,
.wrapper .instagram:hover .toolti:before {
    background: #a80845;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .toolti,
.wrapper .youtube:hover .toolti:before {
    background: #ff0000;
}

.footer {
    padding: 50px 0;
    background: #100E24;
}

.footer-title {
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

/** foter end **/



@media only screen and (max-width: 1601px) {
    
}

@media only screen and (max-width: 1300px) {
    .complex_title {
        font-size: 43px;
    }
}

@media only screen and (max-width: 1199px) {
    .museum-img img {
        height: 321px;
        width: 428px;
    }
    .complex_text {
        font-size: 30px;
    }
    .complex_title {
        font-size: 38px;
    }
    .rigt-title {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1020px) {
    .rigt-title {
        font-size: 30px;
    }
    .right-text {
        font-size: 20px;
    }
    .complex_title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        background-color:#f8f9fa;
        padding-left: 15px;
    }    
    .navbar-light .navbar-nav .nav-link {
        color: black;
    }
    .museum-img img {
        height: 286px;
        width: 336px;
    }
    .item-left-right {
        height: 650px;
    }
    .item-text {
        font-size:  16px;
    }
    .item-photo {
        height: 272px;
        width: 342px;
    }
    .complex_blog-blog {
        height: 240px;
    }
    .complex_blog {
        height: 240px;
    }
    .complex_text {
        font-size: 26px;
    }
    .complex_title {
        font-size: 31px;
    }
    .complex_photo {
        height: 370px;
    }
    .complex_blog-title {
        font-size: 20px;
    }
    .blog-text {
        font-size: 16px;
        margin-left: 15px;
    }
    .works_item {
        height: 215px;
    }
}

@media only screen and (max-width: 860px) {
    .item-text {
        font-size: 14px;
    }
    .complex_text {
        font-size: 22px;
    }
    .complex_title {
        font-size: 27px;
    }
    .blog-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .museum-img img {
        height: 379px;
        width: 479px;
    }
    .footer-top {
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .block-left-right {
        width: 100%;
        height: 500px;
        flex-direction: column;
    }
    .block-left-right .left-bona {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-garden {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-track {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-ladders {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .right-one {
        width: 100%;
        padding: 20px;
    }
    .block-left-right .right-two {
        width: 100%;
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .card-extremetwo {
        padding: 72px 12px 50px 20px;
    }
    .right-text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 743px) {
    .item-left-right {
        height: 500px;
    }
    .item-photo {
        width: 280px;
        height: 220px;
    }
    .item-text {
        font-size: 10px;
    }
    .item-title {
        font-size: 20px;
    }
    .blog-text {
        font-size: 13px;
        width: 14em;
    }
    .complex_blog-title {
        font-size: 18px;
    }
    .complex_title {
        font-size: 22px;
    }
    .complex_text {
        font-size: 18px;
    }
}
@media only screen and (max-width: 633px) {
    .item-left-right {
        flex-direction: column;
        height: auto;
    }
    .item-left-right .left {
        width: 100%;
        padding: 20px;
    }
    .item-left-right .right {
        width: 100%;
        padding: 20px;
    }
    .item-left-right .item-title {
        font-size: 36px;
    }
    .item-left-right .item-photo {
        height: 272px;
        width: 342px;
    }
    .item-left-right .item-text {
        font-size: 14px;
        width: auto;
    }
    .works_item {
        height: 188px;
    }
    .complex_blog-title {
        font-size: 15px;
        margin-top: 45px;
    }
    .complex_photo {
        height: 260px;
    }
    .complex_blog {
        height: 190px;
    }
    .complex_blog-blog {
        height: 190px;
    }
    .complex_blog-text {
        margin-top: 52px;
    }
    .complex_title {
        font-size: 19px;
    }
    .complex_text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 557px) {
    .complex_item {
        width: 100%;
        height: 140px;
        flex-direction: column;
    }
    .complex_item-photo {
        width: 100%;
        height: 250px;
        order: 2;
    }
    .complex_content-blog {
        width: 100%;
        height: 100%
    }
    .complex_blog {
        width: 100%;
        height: 110px;
    }
    .complex_blog-blog {
        width: 100%;
    }
    .complex_blog-title {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }
    .complex_content {
        padding-left: 0px;
        text-align: center;
    }
    .complex_text {
        margin-bottom: 25px;
        font-size: 22px;
    }
    .complex_title {
        font-size: 27px;
    }
}

@media only screen and (max-width: 525px) {
    .museum-img img {
        height: 331px;
        width: 431px;
    }
    .works_item {
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {
    .museum-img img {
        height: 258px;
        width: 342px;
    }
    .title {
        font-size: 38px;
    }
}

@media only screen and (max-width: 417px) {
    .complex_blog-blog {
        height: 318px;
    }
    .blog-text {
        margin-left: auto;
        width: 17em;
    }
    .complex_photo {
        height: 250px;
    }
    .carousel-caption h5 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 367px) {
    .museum-img img {
        height: 207px;
        width: 278px;
    }
}

@media only screen and (max-width: 351px) {
    .item-left-right .item-photo {
        height: 252px;
        width: 300px;
    }
    .complex_item-photo {
        height: 190px;
    }
    .complex_photo {
        height: 188px;
    }
    .works_title {
        font-size: 21px;
    }
    .title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 338px) {
    .title {
        font-size: 41px;
    }
    .complex_photo {
        height: 180px;
    }
    .complex_item-photo {
        height: 182px;
    }
}