@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:focus {
    color: rgb(179, 255, 0);
    text-decoration: mone;
    outline: 0;
}


/** Header start **/

.animate__animated .animate__fadeInUp {
  --animate-duration: 2s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(110, 27, 27);
}

.navbar-brand {
    color: #101521;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-block: 15px;
}

.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar {
    height: 70px;
}
.navbar-nav .dropdown-menu {
    left: -120px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption h5 {
      font-size: 40px;
  }

/** Header and **/

/** Section one start **/

.museum {
    height: 500px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.left-museumone {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 475px;
    background-image: url(../img/museumone.jpg);
}

.left-museumtwo {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 475px;
    background-image: url(../img/museumtwo.jpg);
}

.right-museumone {
    height: 475px;
    background-image: linear-gradient(
    -225deg, #fff 0%, rgba(255,255,255,0) 40%, rgba(0,255,255,0) 60%, cyan 100%),linear-gradient(
    45deg, #3023AE 0%, #f09 100%);
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 88% 12% 86% 14% / 11% 88% 12% 89% ;
}

.right-museumtwo {
    height: 475px;
    background-image: linear-gradient(
    -225deg, #fff 0%, rgba(255,255,255,0) 40%, rgba(0,255,255,0) 60%, cyan 100%),linear-gradient(
    45deg, #3023AE 0%, #f09 100%);
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 43% 57% 80% 20% / 33% 49% 51% 67% ;
}

.right-text-museum {
    font-size: 20px;
    color: white;
}

.header-poster {
    width: 100%;
    height: 400px;
    background-image: url(/img/poster.png);
    background-size: cover;
    position: relative;
}

.parallax-poster {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/poster.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title { 
    font-size: 44px;
    letter-spacing: 0.17em;
    text-align: center;
}

/** Section end **/


/** Section start **/


/** Section end **/


/** Section  start **/



/** Section start **/

.block-left-right {
    display: flex;
    width: 100%;
    height: 500px;
    background: #28349E;
}

.block-left-right .left-bona {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/Bona.jpg);
}

.parallax-bona {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/Bona.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .right-one {
    display: flex;
    width: 50%;
    background: #28349E;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.block-left-right .left-garden {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/garden.jpg);
}

.parallax-garden {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/garden.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .right-two {
    display: flex;
    width: 50%;
    background: #28328f;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.rigt-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.right-text {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.header-stadion {
    width: 100%;
    height: 400px;
    background-image: url(/img/stadion.jpg);
    background-size: cover;
    position: relative;
}

.parallax-stadion {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/stadion.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .left-track {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/track.jpg);
}

.parallax-track {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/track.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-left-right .left-ladders {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-image: url(../img/ladders.jpg);
}

.parallax-ladders {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/ladders.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Section and **/

/** Section start **/



/** Section and **/


/** Section start **/

/* .section-left-right {
    display: flex;
    width: 100%;
    height: 500px;
    position: relative;
}

.section-left-right .left {
    width: 50%;
}

.position-relative {
position: relative;
}

.section-left-right .right {
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.section-left-right .right  img {
       width: 70%;
       position: absolute;
       top: 0;
       left: 3%;
       height: 350px;
}

.block-desc {
    position: absolute;
    background:#7DEFFF;
    height: 450px;
    width: 350px;
    bottom: 0;
    left: 12%;
} */

/** Section and **/


/** Section start **/

.header-burning {
    width: 100%;
    height: 400px;
    background-image: url(/img/burning.png);
    background-size: cover;
    position: relative;
}

.parallax-burning {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/burning.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.second-block {
    background: rgb(4, 24, 37);
    position: relative;
    height: 400px;
    padding: 30px;
    margin: 100px 0;
}


.second-block img {
    position: absolute;
    top: -40px;
    right: 50px;
    height: 200px
}

.second-title {
    width: 16em;
    height: 152px;
    text-align: center;
    font-size: 36px;
    padding-top: 16px;
}

.second-block p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: white;
}

/** Section and **/


/** Section start **/ 

.item-left-right {
    display: flex;
    width: 100%;
    height: 700px;
}

.item-left-right .left {
    display: flex;
    width: 50%;
    background: #1167a0;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.item-photo {
    height: 274px;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
    display: table-footer-group;
    padding-top: 30px;
    padding-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 16%, 100% 86%, 50% 100%, 50% 100%, 0 86%, 0 16%);
}

.item-title {
    text-align: center;
}

.item-text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
} 

.item-left-right .right {
    display: flex;
    width: 50%;
    background: #001aff;
    padding: 50px;
    justify-content: center;
    align-items: center;
}


/** Section and **/


/** Section start **/

/* .carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-item {
    display: flex;
    max-height: 550px;
}

.carousel-item img {
    object-fit: cover;
} */

/** Section and **/


/** Section start **/ 

.complex {
    display: flex;
    flex-wrap: wrap;
}

.complex_item {
    width: 25%;
    background-color: #5C62ED;
    position: relative;
    overflow: hidden;
}

.complex_content {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.complex_text {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 76px;
    margin-top: 20px;
}

.complex_title {
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
}

.complex_item-photo {
    width: 75%;
    position: relative;
    overflow: hidden;
}

.complex_photo {
    height: 500px;
    width: 100%;
}

.complex_blog {
    width: 25%;
    height: 300px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.complex_content-blog {
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.complex_blog-title {
    font-weight: 700;
    font-size: 24px;
    color: #5C62ED;
    padding-left: 15px;
    margin-top: 74px;
}

.complex_blog-blog {
    width: 75%;
    height: 300px;
    background-color: #E00F0F;
    position: relative;
    overflow: hidden;
}

.complex_blog-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 74px;
}

.blog-text {
    margin-left: auto;
    margin-right: auto;
    width: 18em
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 25%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.works_item:hover .works_content {
    opacity: 1;
}

.works_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(232, 69, 69, 0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .3s linear;
}

.works_title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

/** Section  end **/

/** foter start **/

.footer {
    padding: 50px 0;
    background: #100E24;
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.footer-menu li {
    margin: 0 20px;
}

.footer-left {
    padding: 30px;
}

.footer-title {
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

/** foter end **/


@media only screen and (max-width: 1601px) {
    
}

@media only screen and (max-width: 1300px) {
    .complex_title {
        font-size: 43px;
    }
}

@media only screen and (max-width: 1199px) {
    .right-text-museum {
        font-size: 16px;
    }
    .second-block {
        height: 325px;
    }
    .second-block img {
        height: 160px;
    }
    .second-block h3 {
        font-size: 24px;
    }
    .second-block p {
        font-size: 16px;
    }
    .complex_text {
        font-size: 30px;
    }
    .complex_title {
        font-size: 38px;
    }
    .rigt-title {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1020px) {
    .rigt-title {
        font-size: 30px;
    }
    .right-text {
        font-size: 20px;
    }
    .complex_title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1020px) {
    .second-block h3 {
        margin-left: -94px;
        height: 126px;
    }
    .second-block img {
        height: 144px;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
    background-color:#f8f9fa;
    padding-left: 15px;
}

@media only screen and (max-width: 991px) {
    .right-text-museum {
        font-size: 14px;
    }
    .item-left-right {
        height: 650px;
    }
    .item-text {
        font-size:  16px;
    }
    .item-photo {
        height: 272px;
        width: 342px;
    }
    .complex_blog-blog {
        height: 240px;
    }
    .complex_blog {
        height: 240px;
    }
    .complex_text {
        font-size: 26px;
    }
    .complex_title {
        font-size: 31px;
    }
    .complex_photo {
        height: 370px;
    }
    .complex_blog-title {
        font-size: 20px;
    }
    .blog-text {
        font-size: 16px;
        margin-left: 15px;
    }
    .works_item {
        height: 215px;
    }
}

@media only screen and (max-width: 860px) {
    .item-text {
        font-size: 14px;
    }
    .complex_text {
        font-size: 22px;
    }
    .complex_title {
        font-size: 27px;
    }
    .blog-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 650px) {
    .block-left-right {
        width: 100%;
        height: 500px;
        flex-direction: column;
    }
    .block-left-right .left-bona {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-garden {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-track {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .left-ladders {
        width: 100%;
        height: 500px;
        order: 2;
    }
    .block-left-right .right-one {
        width: 100%;
        padding: 20px;
    }
    .block-left-right .right-two {
        width: 100%;
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .second-title {
        width: 23em;
        margin-top: 55px;
        margin-top: 90px;
    }
    .second-block h3 {
        margin-left: -52px;
        height: 60px;
    }
    .second-block {
        height: 413px;
    }
    .second-block img {
        right: 84px;
    }
    .right-text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 743px) {
    .item-left-right {
        height: 500px;
    }
    .item-photo {
        width: 280px;
        height: 220px;
    }
    .item-text {
        font-size: 10px;
    }
    .item-title {
        font-size: 20px;
    }
    .blog-text {
        font-size: 13px;
        width: 14em;
    }
    .complex_blog-title {
        font-size: 18px;
    }
    .complex_title {
        font-size: 22px;
    }
    .complex_text {
        font-size: 18px;
    }
}
@media only screen and (max-width: 633px) {
    .item-left-right {
        flex-direction: column;
        height: auto;
    }
    .item-left-right .left {
        width: 100%;
        padding: 20px;
    }
    .item-left-right .right {
        width: 100%;
        padding: 20px;
    }
    .item-left-right .item-title {
        font-size: 36px;
    }
    .item-left-right .item-photo {
        height: 272px;
        width: 342px;
    }
    .item-left-right .item-text {
        font-size: 14px;
        width: auto;
    }
    .works_item {
        height: 188px;
    }
    .complex_blog-title {
        font-size: 15px;
        margin-top: 45px;
    }
    .complex_photo {
        height: 260px;
    }
    .complex_blog {
        height: 190px;
    }
    .complex_blog-blog {
        height: 190px;
    }
    .complex_blog-text {
        margin-top: 52px;
    }
    .complex_title {
        font-size: 19px;
    }
    .complex_text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 557px) {
    .complex_item {
        width: 100%;
        height: 140px;
        flex-direction: column;
    }
    .complex_item-photo {
        width: 100%;
        height: 250px;
        order: 2;
    }
    .complex_content-blog {
        width: 100%;
        height: 100%
    }
    .complex_blog {
        width: 100%;
        height: 110px;
    }
    .complex_blog-blog {
        width: 100%;
    }
    .complex_blog-title {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }
    .complex_content {
        padding-left: 0px;
        text-align: center;
    }
    .complex_text {
        margin-bottom: 25px;
        font-size: 22px;
    }
    .complex_title {
        font-size: 27px;
    }
    .second-block h3 {
        width: auto;
    }
}

@media only screen and (max-width: 525px) {
    .second-block img {
        right: 60px;
    }
    .second-block h3 {
        margin-left: 28px;
    }
    .second-block {
        height: 438px;
    }
    .works_item {
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {
    .second-block img {
        right: 23px;
    }
    .second-block h3 {
        margin-left: 28px;
    }
    .second-block {
        height: 487px;
    }
}

@media only screen and (max-width: 417px) {
    .complex_blog-blog {
        height: 318px;
    }
    .blog-text {
        margin-left: auto;
        width: 17em;
    }
    .second-block img {
        height: 115px;
        right: 22px;
    }
    .second-title {
        margin-top: 60px;
    }
    .second-block {
        height: 484px;
    }
    .complex_photo {
        height: 250px;
    }
}

@media only screen and (max-width: 351px) {
    .second-block {
        height: 500px;
    }
    .second-block h3 {
        margin-left: 18px;
    }
    .item-left-right .item-photo {
        height: 252px;
        width: 300px;
    }
    .complex_item-photo {
        height: 190px;
    }
    .complex_photo {
        height: 188px;
    }
    .works_title {
        font-size: 21px;
    }
}

@media only screen and (max-width: 341px) {
    .second-block h3 {
        margin-left: 9px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 338px) {
    .title {
        font-size: 41px;
    }
    .second-block img {
        height: 100px;
    }
    .complex_photo {
        height: 180px;
    }
    .complex_item-photo {
        height: 182px;
    }
}}